body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://png.pngtree.com/thumb_back/fh260/background/20230527/pngtree-8-best-free-mountain-background-images-4k-wallpapers-image_2670051.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.1); /* white with 10% opacity */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
}

.glass-card h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.glass-card p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.glass-card button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease-in-out;
}

.glass-card button:hover {
    background: rgba(255, 255, 255, 0.4);
}